<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @saving.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @saving.description %>
</p>

<%= link_to 'Edit', edit_saving_path(@saving) %> |
<%= link_to 'Back', savings_path %>
